#map {
    width:100dvw;
    height:100dvh;
}


.mapboxgl-popup-content {
    color:black;
    pointer-events: none;
}

.mapboxgl-popup-close-button {
    filter: invert(1);
}

.logo { 
    margin:auto;
    color:#222;
    font-family: cursive, Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .3rem;
}

/* Example of custom dark mode styling */
body.dark {
    --ion-background-color: #000;
    --ion-text-color: #fff;
    /* Add more custom variables or element styles as needed */

  }

.dark .logo {
    color:#eee;
}

.mapContainer {
    position:absolute;
    top:0;
    left:0;
    height:100dvh;
    width:100dvw;
    z-index:0;
    margin:0;
    /* margin-bottom:3em; */
    align-items: start;
    background-color: #02090D;
    vertical-align: top;
}

.post_txt { font-size: .9rem; }
.post_meta { margin-bottom:1rem;  text-align: center;}

.mapboxgl-popup { min-width:17rem; background-color: rgba(255,255,255,.85); border-radius: 5px; backdrop-filter: blur(5px);}

.mapboxgl-popup-content { padding:.5rem; background-color: rgba(0,0,0,0); }

/* 

.nextbtn {
    margin-left:auto;
    margin-right:0;
    float:right;
}
.prevbtn {
    margin-left:0;
    margin-right:auto;
    float:left;
} */
.mapfooter {
    position:fixed;
    top:0;
    z-index:1000;
    border:none;
    box-shadow: none;
    pointer-events: none;
    /* background-color: rgba(0,0,0,1); */
} 

ion-tab-bar {
    /* height:3em; */
}

.mapfooter ion-tab-bar {
    position:relative;
}




/* Style for the toolbar containing the buttons */
.toolbar {
    --border:none;
    padding:.1em;
    text-align: center;
    height:fit-content;
    position:fixed;
    bottom:0;
    height:50px;
    /* pointer-events: none; */
    width:100%;
    display:flex;
    justify-content: space-between; /* This will space out the buttons */
    align-items: center; /* This will vertically center the buttons if the toolbar has a height */
}  
  /* General button styling to match IonTabButton */
  .toolbar ion-button {
    --padding-start: 0; /* Adjust padding to match IonTabButton */
    --padding-end: 0; /* Adjust padding to match IonTabButton */
    --padding-top: 0; /* Adjust padding to match IonTabButton */
    --padding-bottom: 0; /* Adjust padding to match IonTabButton */
    --background: transparent; /* Match the background color if needed */
    --background-activated: none; /* Remove highlight color on click */
    --background-focused: none; /* Remove focus color */
    --background-hover: none; /* Remove hover color */
    --ripple-color: transparent; /* Remove ripple effect if needed */
    /* --color: #ddd; */
    /* pointer-events: auto; */
    /* padding-left:auto; */
    align-items: left;
  }

  .toolbar ion-button { color: #111;}
  .dark .toolbar ion-button { color: #eee;}


  ion-tab-bar { background-color: #eee;}
  .dark ion-tab-bar { background-color: #1f1f1f;}

  .toolbar { background-color: #eee;}
  .dark .toolbar { background-color: #1f1f1f;}

  .dark ion-tab-button { color: #eee; }
  ion-tab-button { color: #111; }


  
  
  /* Style for the icon within the buttons to match IonTabButton */
  .toolbar ion-icon {
    --color: #ffffff; /* Adjust to match IonTabButton icon color */
    --font-size: 1.5em; /* Adjust to match IonTabButton icon size */
    padding-left: .5rem;
    padding-right: .5rem;
    font-size:2em;
  }
  
  /* Style for the label within the buttons to match IonTabButton */
  .toolbar ion-label {
    --color: #ffffff; /* Adjust to match IonTabButton text color */
    --font-size: 0.8em; /* Adjust to match IonTabButton text size */
    text-transform: uppercase; /* If your IonTabButton text is uppercase */
    display:block;
  }
  
  /* You may also need to handle the states such as hover, active, focused for custom styles */
  .toolbar ion-button:hover,
  .toolbar ion-button:active,
  .toolbar ion-button:focus {
    --opacity: 0.7; /* Adjust to match IonTabButton styles */
  }


/* ion-content, ion-page {--background:transparent} */