#map {
    width:100dvw;
    height:100dvh;
}


.mapboxgl-popup-content {
    color:black;
}

.mapboxgl-popup-close-button {
    filter: invert(1);
}

.logo { 
    margin:auto;
    color:#222;
    font-family: cursive, Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .3rem;
}

/* Example of custom dark mode styling */
body.dark {
    --ion-background-color: #000;
    --ion-text-color: #fff;
    /* Add more custom variables or element styles as needed */

    .logo {
        color:#eee;
    }
  }



.mapContainer {
    position:absolute;
    top:0;
    left:0;
    height:100dvh;
    width:100dvw;
    z-index:0;
}

.post_txt { font-size: .9rem; }
.post_meta { margin-bottom:1rem;  text-align: center;}

.mapboxgl-popup { min-width:17rem; background-color: rgba(255,255,255,.85); border-radius: 5px; backdrop-filter: blur(5px);}

.mapboxgl-popup-content { padding:.5rem; background-color: rgba(0,0,0,0); }