/* Targeting the IonTabBar at the top slot specifically */
ion-tab-bar {
    /* position:absolute;
    top:0;
    left:0; */
    z-index:10;
  }
.logo {
  padding-left:.75rem;
}
ion-tab-button {
    background-color: rgba(0,0,0,0);
    z-index:1000;
}

.error {
  color:red;
  font-size:.8rem;
  padding:.5rem;
}



#root {
  height:30vh;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib {
  display: none;
}
